@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to </h1>
    <p>my linked-in page <a href="https://www.linkedin.com/in/kamlendrasharma/">kamlendra sharma</a>.</p>
</div>
