@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to </h1>
    <p>my stackoverflow page <a href="https://stackoverflow.com/users/987222/kamal/">kamlendra sharma</a>.</p>
</div>
